<div class="row #eeeeee grey lighten-3 z-depth-1" style="margin-top:10%" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container " style="width:100%; height:600px;">
        <table cellpadding="2" cellspacing="2" border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Id_user</th>
                <th>Age</th>
            </tr>
            <tr ng-repeat="people in peoples track by $index">
                <td>{{people.id_user_details}}</td>
                <td>{{people.usr_name}}</td>
                <td>{{people.id_user}}</td>
                <td>{{people.user_age}}</td>
            </tr>
        </table>

        <input type="button" value="Logout" ng-click="logout();"> </input>
    </div>
</div>